.footer {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  align-content: center;

  background-color: $bg2;
  color: $text-on-bg;
  border-top: 1px solid $subtle-on-bg;

  font-size: 1.2rem;

  border-bottom-left-radius: $corner-radius;
  border-bottom-right-radius: $corner-radius;

  .status {
    color: $primary;
    line-height: 1.1;
    font-size: 0.75em;
    font-weight: bold;
  }

  .details {
    font-size: 1.5em;
    line-height: 1.1;
  }

}
