$corner-radius: 15px;

@mixin icon-content-icon {
  display: grid;
  grid-template-columns: 20% auto 20%;
  align-items: center;
  justify-items: center;
}

html {
  background-color: $page;
}

@import './app.scss';
@import './header.scss';
@import './station-list.scss';
@import './footer.scss';
@import './station-card.scss';


